.footer{
	background:#333;
	color: #e6ffff;
	height: 200px;
	position: relative;
	display: flex;
}
.footer h4{
	color: #fff;
	font-size:20px;
}

.footer .footer-content{
	hieght:250px;
	flex: 0.8;
	border: 1px soild;
	margin: 10px;
}


.footer .footer-content .socials a{
	border: 1px solid ;
	width: 45px;
	height: 41px;
	padding-top:5px;
	margin-right:5px;
	text-align: center;
	display: inline-block;
	font-size: 1.3em;
	border-radius: 5px;
	color: #fff;
}