<!DOCTYPE html>
<html lang="en" dir="ltr">
<body style="padding-top:5%">
 
<div style="text-align:center">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScAmByn9OuRiSU3isVqU0sStMM28HQTZBZJOl_qrp0KK8z72w/viewform?embedded=true" width="800" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<div style="text-align:center">
<h2><b>Visit us at!</b></h2>
<p>We are located at 4901 Evergreen Rd, Dearborn, MI 48128. We're looking forward to your visit!</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2950.1671132662455!2d-83.23421858438434!3d42.317634279189626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883b35747403004f%3A0x37bcece74d237758!2sUniversity%20of%20Michigan-Dearborn!5e0!3m2!1sen!2sus!4v1664424666215!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
</body>
	
<app-footer></app-footer>

</html>
