<!DOCTYPE html>
<html lang="en" dir="ltr">
		<div class="row" style="padding-top:5%">
			<div class="col-md-8">
				<br>
				<br>
				<h1 class="text-left"><b>Welcome {{user.username}},</b></h1><br/>
				<p class="justify">DendroStack has been a part of spreading joy and positivity since 2016. Founded by Yamini, DendroStack helps in the growth of environment development. we offer a  collection of house plants, outdoor  plants, pots, and soils that suitable for plants.  Our main aim is to  inspire and empower through the art of plants. </p>
				<p class="justify"> DendroStack has been a part of spreading joy and positivity since 2016. Founded by Yamini, DendroStack helps in the growth of environment development. we offer a  collection of house plants, outdoor  plants, pots, and soils that suitable for plants.  Our main aim is to  inspire and empower through the art of plants. </p>
				<p class="justify">DendroStack has been a part of spreading joy and positivity since 2016. Founded by Yamini, DendroStack helps in the growth of environment development. we offer a  collection of house plants, outdoor  plants, pots, and soils that suitable for plants.  Our main aim is to  inspire and empower through the art of plants. </p>
				<p class="justify"> DendroStack has been a part of spreading joy and positivity since 2016. Founded by Yamini, DendroStack helps in the growth of environment development. we offer a  collection of house plants, outdoor  plants, pots, and soils that suitable for plants.  Our main aim is to  inspire and empower through the art of plants. </p>
				
			</div>
			<div class="col-md-4">
				<div style="padding-top:70px">
					<a href="https://in.linkedin.com/in/yaminimoturi" target="_blank"> <img src="./assets/images/yflower.png" style="border-radius: 50%;" width="100%" height="100%"></a>
				</div>
			</div>
		</div>
<footer>
	<app-footer></app-footer>    
</footer>
</html>
